<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>文档列表 </title>
  <link rel="icon" href="../favicon.ico" type="image/ico">
  <meta name="keywords" content="LightYear">
  <meta name="description" content="LightYear">
  <meta name="author" content="yinqi">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/materialdesignicons.min.css}" rel="stylesheet">
  <link th:href="@{/css/style.min.css}" rel="stylesheet">
</head>
  
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-toolbar clearfix">
          <form class="pull-right search-bar" method="get" action="/admin/show" id="mySearchForm" role="form">
            <div class="input-group">
              <div class="input-group-btn">
                <input type="hidden" name="search_field" id="search-field" value="title">
                <button class="btn btn-default dropdown-toggle" id="search-btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                  search <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li> <a tabindex="-1" href="javascript:void(0)" data-field="cat_name" onclick="changeSearch('account')">账号</a> </li>
                  <li> <a tabindex="-1" href="javascript:void(0)" data-field="cat_name" onclick="changeSearch('name')">姓名</a> </li>
                  <li> <a tabindex="-1" href="javascript:void(0)" data-field="cat_name" onclick="changeSearch('sex')">性别</a> </li>
                </ul>
              </div>
              <input type="text" class="form-control" id="search" onblur="doSearch()" value="" name="account" placeholder="请输入名称">
            </div>
          </form>
          <form id="myForm" action="" method="post">
            <div class="toolbar-btn-action">
              <a class="btn btn-primary m-r-5" th:href="@{/toUserAdd}"><i class="mdi mdi-plus"></i> 新增</a>
              <a class="btn btn-danger" href="#!" onclick="BathDelBtn()"><i class="mdi mdi-window-close"></i> 全部删除</a>
            </div>
          </form>
        </div>
        <div class="card-body">

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>
                  <label class="lyear-checkbox checkbox-primary">
                    <input type="checkbox" id="check-all"><span></span>
                  </label>
                </th>
                <th>编号</th>
                <th>账号</th>
                <th>密码</th>
                <th>姓名</th>
                <th>手机号</th>
                <th>邮箱</th>
                <th>状态</th>
                <th>创建时间</th>
                <th>性别</th>
                <th>头像</th>
                <th>关联角色</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>

              <tr th:object="${admin}" th:each="admin:${items.list}">
                <td>
                  <label class="lyear-checkbox checkbox-primary">
                    <input type="checkbox" name="ids[]" th:value="*{id}"><span></span>
                  </label>
                </td>
                <td th:text="*{id}"></td>
                <td th:text="*{account}"></td>
                <td th:text="*{password}"></td>
                <td th:text="*{name}"></td>
                <td th:text="*{phone}"></td>
                <td th:text="*{email}"></td>
                <td>
                  <span th:if="*{status eq '1'}"><font class="text-success">启用</font></span>
                  <span th:if="*{status eq '2'}"><font class="text-warning">禁用</font></span>
                </td>
                <td th:text="*{#dates.format(createtime,'yyyy-MM-dd')}"></td>
                <td>
                  <span th:if="*{sex eq '0'}">女</span>
                  <span th:if="*{sex eq '1'}">男</span>
                </td>
                <td>
                  <img class="img-avatar" th:if="*{!#strings.isEmpty(headPic)}" th:src="@{'/upload/'+*{headPic}}" alt="图片丢了">
                  <img class="img-avatar" th:if="*{#strings.isEmpty(headPic)}" th:src="@{/images/gallery/1.jpg}" alt="图片丢了">
                </td>
                <td>
                    <table th:object="${r}" th:each="r:*{roles}">
                      <tr>
                        <td th:text="*{id}"></td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                        <td th:text="*{rolename}"></td>
                      </tr>
                    </table>
                </td>
                <td>
                  <div class="btn-group">
                    <a class="btn btn-xs btn-default" th:href="@{/toUserEdit(id=*{id})}" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                    <a class="btn btn-xs btn-default" th:href="@{/toUserResources(id=*{id})}" title="分配角色" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                    <a class="btn btn-xs btn-default" href="/admin/doDelAdmin?id=${a.id}&myHead=${a.headPic}" onclick="return confirm('是否删除')" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
                  </div>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
          <ul class="pagination">
            <li><span><a th:href="@{/toUserList(pageNum=1)}">首页</a></span></li>
            <li><span><a th:href="@{/toUserList(pageNum=${items.prePage})}">«</a></span></li>

            <li th:each="i:${items.navigatepageNums}" class="" th:classappend="${i eq items.pageNum}? 'active':''">
              <a th:href="@{/toUserList(pageNum=${i})}" >
                  <span th:text="${i}"></span>
              </a>
            </li>

            <li><span><a th:href="@{/toUserList(pageNum=${items.nextPage})}">»</a></span></li>
            <li><span><a th:href="@{/toUserList(pageNum=${items.pages})}">尾页</a></span></li>

          </ul>

        </div>
      </div>
    </div>

  </div>

</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.min.js}"></script>

<!--消息提示-->
<script th:src="@{/js/bootstrap-notify.min.js}"></script>
<script th:src="@{/js/lightyear.js}"></script>
<script th:src="@{/js/main.min.js}"></script>
<link th:href="@{/css/animate.css}" rel="stylesheet">
<script type="text/javascript">
//搜索选中的属性名称
function changeSearch(obj){
  document.getElementById("search").setAttribute("name",obj);
}

//
function doSearch(){
  var mySearchForm = document.getElementById("mySearchForm");
  var search = document.getElementById("search");
  if (search.name=="sex") {
    if (search.value!="男" && search.value!="女"){
      lightyear.loading('show');
      // 假设ajax提交操作
      setTimeout(function() {
        lightyear.loading('hide');
        lightyear.notify('输入的性别不对,只能是男或女!', 'danger', 100);
      }, 1e3)
      return false;
    }
  }
  mySearchForm.submit();
}

//批量删除按钮
function BathDelBtn(){
  var myForm = document.getElementById("myForm");
  //获取选中的id值
  var value = cliBtn();
  myForm.action="/admin/doBathDelAdmin?ids="+value;
  if (chenNum()) {
    myForm.submit();
  }
}

//获取选中的id值
function cliBtn(){
  var cks = document.getElementsByName("ids[]");
  var str="";
  for(var i=0;i<cks.length;i++){
    if (cks[i].checked) {
      str+=cks[i].value+",";
    }
  }
  str = str.substring(0,str.length-1);
  var result = str.split(",");
  return result;
}

//查看复选框是否被选中
function chenNum(){
  var cks = document.getElementsByName("ids[]");
  for(var i=0;i<cks.length;i++){
    if (cks[i].checked) {
      return true;
    }
  }
  return false;
}


$(function(){
    $('.search-bar .dropdown-menu a').click(function() {
        var field = $(this).data('field') || '';
        $('#search-field').val(field);
        $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
    });
});


</script>
</body>
</html>