<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.testspringboot.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.lanyuan.testspringboot.pojo.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="createtime" jdbcType="DATE" property="createtime" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="head_pic" jdbcType="VARCHAR" property="headPic" />
    <result column="del" jdbcType="CHAR" property="del" />

    <collection property="roles" column="id" ofType="com.lanyuan.testspringboot.pojo.Role"
                select="com.lanyuan.testspringboot.mapper.RoleMapper.selectRoleByUid"/>

  </resultMap>

  <resultMap id="BaseResultMap2" type="com.lanyuan.testspringboot.pojo.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="createtime" jdbcType="DATE" property="createtime" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="head_pic" jdbcType="VARCHAR" property="headPic" />
    <result column="del" jdbcType="CHAR" property="del" />

  </resultMap>

  <sql id="Base_Column_List">
    id, account, password, name, phone, email, status, createtime, sex, head_pic, del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
    and del = 0
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where del = 0
  </select>
    <select id="login" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"></include>
      from user
      where account=#{account} and password=#{password}
    </select>
    <select id="findByAcunt" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"></include>
      from user
      where account = #{account} and del = 0
    </select>
  <select id="selectUserByRid" resultMap="BaseResultMap2">
    select
    <include refid="Base_Column_List"></include>
    from relation re,user us
    where re.rid = #{rid} and re.uid = us.id
  </select>
  <select id="findAlls" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from user
    <where>
      <if test="account!=null">
        <bind name="newAccount" value="'%'+account+'%'"/>
        and account like #{newAccount}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="doBathDelUser">
      delete from user where id in
      <foreach collection="array" open="(" close=")" separator="," item="ids">
        #{ids}
      </foreach>
    </delete>
    <insert id="insert" parameterType="com.lanyuan.testspringboot.pojo.User">
    insert into user (id, account, password, 
      name, phone, email, 
      status, createtime, sex, head_pic, 
      del)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{createtime,jdbcType=DATE}, #{sex,jdbcType=CHAR}, #{headPic,jdbcType=VARCHAR}, 
      #{del,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lanyuan.testspringboot.pojo.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="headPic != null">
        head_pic,
      </if>
      <if test="del != null">
        del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="createtime != null">
        #{createtime},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="headPic != null">
        #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        #{del,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanyuan.testspringboot.pojo.User">
    update user
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=DATE},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="headPic != null">
        head_pic = #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanyuan.testspringboot.pojo.User">
    update user
    set account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      createtime = #{createtime,jdbcType=DATE},
      sex = #{sex,jdbcType=CHAR},
      head_pic = #{headPic,jdbcType=VARCHAR},
      del = #{del,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>